<div class="container">
  <h1>Home</h1>
  This is the home page. Hello!
  <a href="users/signin">Sign In</a>
  <a href="users/signup">Sign Up</a>
</div>
<!-- You can also require other files to run in this process -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
