<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <meta charset="UTF-8" />
    <title>App</title>
  </head>

  <body>
    <div class="container">

     <%- body %>

    </div>
    <!-- You can also require other files to run in this process -->
  </body>
</html>
