<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      media="screen,projection"
    />
    <link type="text/css" rel="stylesheet" href="/public/assets/styles.css" />
    <meta charset="UTF-8" />
    <title>Sign In App</title>
  </head>

  <body>
    <div class="container">
      <%- body %>
    </div>
    <!-- You can also require other files to run in this process -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
