<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <meta charset="UTF-8" />

    <title>Login</title>
  </head>

  <body>
    <div>
      <h1>Login</h1>
    </div>
    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
